# SMTP
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=

# Correo
EMAIL_FROM=Licitaciones <no-reply@licitaciones.com>
EMAIL_TO=usuario1@email.com, usuario2@email.com

# Ejecución
SCHEDULE=0 8 * * *
CONFIG_FILE=configs/javier.json